<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    <IfModule mod_headers.c>
        <FilesMatch "\.(pdf)$">
            Header set X-Content-Type-Options "nosniff"
        </FilesMatch>
    </IfModule>

    # منع الوصول المباشر لملفات PDF
    RewriteCond %{REQUEST_URI} \.(pdf)$ [NC]
    RewriteCond %{HTTP_USER_AGENT} IDM|"Internet Download Manager"|"Download Manager" [NC]
    RewriteRule .* - [F,L]

    # منع الوصول المباشر للملفات في مجلد assets
    RewriteRule ^assets/.*\.(pdf|jpg|png)$ index.php [L]

    # توجيه كل طلبات PDF إلى المتحكم
    RewriteCond %{REQUEST_URI} \.(pdf)$ [NC]
    RewriteRule .* index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
